@import "tailwindcss";

@keyframes slideScale {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(-20px) scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

#products {
  scroll-margin-top: 80px;
}